.faqCont{
  width: 80%;
  border: 1px solid yellow;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ques{
  border-bottom: 1px solid yellow;
  box-sizing: content-box;
  padding: 5px;
}

.quesCont{
  width: 98%;
}

.trash{
  width: 30px;
  object-fit: contain;
  height: 100%;
  border: 1px solid yellow;
  cursor: pointer;
}