.modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalInner{
  width: 700px;
  height: 380px;
  background-color: white;
  border-radius: 20px;
  padding-top: 2rem;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 0px;
}