.container{
  width: 90%;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #E8E8F0;
  border-radius: 12px;
  padding-top: 10px;
  margin-bottom: 1rem;
}

.textInp{
  color: black;
  font-weight: 600;
  margin-left: 10px;
}

.InpSt{
  width: 100%;
  outline: 0;
  border: 0;
  background-color: transparent;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 18px;
}